
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myClientLabel">Create or edit a Client</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.client.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.client.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_website">Website</label>
            <input type="text" class="form-control" name="website" id="field_website"
                    ng-model="vm.client.website"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.client.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_crmEntryType">CrmEntryType</label>
            <input type="text" class="form-control" name="crmEntryType" id="field_crmEntryType"
                    ng-model="vm.client.crmEntryType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_industryType">IndustryType</label>
            <input type="text" class="form-control" name="industryType" id="field_industryType"
                    ng-model="vm.client.industryType"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_accountManagerId">AccountManagerId</label>
            <input type="number" class="form-control" name="accountManagerId" id="field_accountManagerId"
                    ng-model="vm.client.accountManagerId"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_externalCode">ExternalCode</label>
            <input type="text" class="form-control" name="externalCode" id="field_externalCode"
                    ng-model="vm.client.externalCode"
                     />
        </div>

        <div class="form-group">
            <label for="field_tag">tag</label>
            <select class="form-control" id="field_tag" multiple name="tag" ng-model="vm.client.tags" ng-options="tag as tag.name for tag in vm.tags track by tag.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
